# Discrepancy in Number of Reviews

In [1]:
import time
import pandas as pd
import numpy as np

In [2]:
parquet_path = "data/glassdoor/rev-anon.parquet.gzip"
start = time.time()
df = pd.read_parquet(parquet_path, columns=["pros", "cons", "feedback"])
print("parquet load time", (time.time() - start), "s")

parquet load time 19.73979949951172 s

In [3]:
# replace None with blank space in all columns
df.fillna("", inplace=True)

In [38]:
parquet_df = df[:33323]

In [39]:
parquet_df['review_num'] = parquet_df.index

<ipython-input-39-5a75c7b8675c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  parquet_df['review_num'] = parquet_df.index

In [45]:
split_df[split_df.isnull()]

        review_num text  type
100000         NaN  NaN   NaN
100001         NaN  NaN   NaN
100002         NaN  NaN   NaN
100003         NaN  NaN   NaN
100004         NaN  NaN   NaN
...            ...  ...   ...
199995         NaN  NaN   NaN
199996         NaN  NaN   NaN
199997         NaN  NaN   NaN
199998         NaN  NaN   NaN
199999         NaN  NaN   NaN

[100000 rows x 3 columns]

In [42]:
df_all = parquet_df.merge(split_df.drop_duplicates(), on=['review_num'], 
                   how='left', indicator=True)
# df_all['_merge'] == 'left_only'

In [43]:
df_all[df_all['_merge'] != 'both']

,pros,cons,feedback,review_num,text,type,_merge
0,The people to work with,11-14 hour shifts. And always understaff.,Hire more hardworking people and schedule fair...,0,NaN,NaN,left_only
1,A company in rapid growth and expansion,Extensive changes in upper level management ov...,"Ensure a solid foundation of training, allowan...",1,NaN,NaN,left_only
2,"Get to know the industry, profit margins, etc....","Very, very unorganized on every level, stock i...","Take care of your employees, better.",2,NaN,NaN,left_only
3,"Friendly people, good company values",Layoff of long term employees - losing years o...,,3,NaN,NaN,left_only
4,"nice organized project, great boss.",none that i could see. mostly worked remote.,,4,NaN,NaN,left_only
...,...,...,...,...,...,...,...
16584,"Write your own paycheck. Energy, learning and ...","Difficult during slower weeks, holiday seasons...",Please stop micro managing employee schedules ...,16584,NaN,NaN,left_only
16585,"Works to maintain an inclusive environment, gr...","Lots of overtime, can be hard at times to find...",,16585,NaN,NaN,left_only
16586,Great for students\r\nFlexible schedules\r\nRi...,none besides we cant take tips and its very pr...,,16586,NaN,NaN,left_only
16587,"Lots of terminals, lots of divisions to choose...",Leases too many trailers to Walmart and Costco...,Make the drivers lounges like a hotel very nic...,16587,NaN,NaN,left_only
16588,Don't see any to list out,The company is owned by the single family (Sha...,,16588,NaN,NaN,left_only

In [19]:
df_all

,pros,cons,feedback,review_num,text,type,_merge
0,The people to work with,11-14 hour shifts. And always understaff.,Hire more hardworking people and schedule fair...,0,The people to work with,1,both
1,The people to work with,11-14 hour shifts. And always understaff.,Hire more hardworking people and schedule fair...,0,Hire more hardworking people and schedule fair...,3,both
2,The people to work with,11-14 hour shifts. And always understaff.,Hire more hardworking people and schedule fair...,0,And always understaff.,2,both
3,The people to work with,11-14 hour shifts. And always understaff.,Hire more hardworking people and schedule fair...,0,11-14 hour shifts.,2,both
4,A company in rapid growth and expansion,Extensive changes in upper level management ov...,"Ensure a solid foundation of training, allowan...",1,Extensive changes in upper level management ov...,2,both
...,...,...,...,...,...,...,...
9780,Opportunity for growth i love it there,None no complaints at all!!,,1670,!,2,both
9781,Supervisors do not micro manage.; Flexible wit...,non that I can think of at this time,none,1671,none,3,both
9782,Supervisors do not micro manage.; Flexible wit...,non that I can think of at this time,none,1671,; Flexible with hours if needed due to doctor ...,1,both
9783,Supervisors do not micro manage.; Flexible wit...,non that I can think of at this time,none,1671,Supervisors do not micro manage.,1,both
9784,Supervisors do not micro manage.; Flexible wit...,non that I can think of at this time,none,1671,non that I can think of at this time,2,both

In [35]:
split_token_path = "data/glassdoor/glassdoor_split_stoken.json.gz"
split_loader = pd.read_json(split_token_path, orient="records", lines=True, chunksize=100000)

In [37]:
split_df = next(iter(split_loader))
split_df.review_num.max()

33322

In [44]:
topics_path = "data/glassdoor/glassdoor_topics.json.gz"
topic_loader = pd.read_json(topics_path, orient="records", lines=True, chunksize=10000)

In [45]:
topic_df = next(iter(topic_loader))
topic_df

,review_id,type,topic,text,num_words
0,0,1,3,The people to work with,5
1,0,3,3,Hire more hardworking people and schedule fair...,19
2,0,2,0,And always understaff.,3
3,0,2,7,11-14 hour shifts.,3
4,1,2,4,Extensive changes in upper level management ov...,10
...,...,...,...,...,...
9995,1740,2,7,- Long working hours.,4
9996,1741,1,4,"Learned project management, traveled to many p...",10
9997,1741,2,0,The work was inconsistent and sometimes the pr...,13
9998,1741,3,7,Narrow minded on new projects,5
9999,1742,1,5,Employee discount and fellow employees,5

In [50]:
(np.arange(1743) == topic_df['review_id'].unique()).all()

True

In [53]:
(np.arange(1673) == split_df['review_num'].unique()).all()

True